################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/real-estate-auction-system-back-end/Apis/WebAPI/appsettings.Development.json
